body {
    background-color: #f5f5f5;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.well {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    border: none;
}

.fa-5 {
    font-size: 12em;
}

.fa-6 {
   font-size: 20em; 
}

/*Home*/
nav li.list-group-item {
    float: left;
    width: 187px;
    height: 500px;
    background-repeat: no-repeat;
    padding: 0;
    cursor: pointer;
}

main nav section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #ddd;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(2, 2, 2, .7);
    padding: 10px;
}

/*About*/
div.aboutInfo {
    text-align: center;
}

div.aboutInfo h1 {
    display: none;
}


main > section > div.about {
    position: relative;
    height: 398px;
    background-repeat: no-repeat;
}

div.default {
    background-image: url('../imgs/me.jpg');
    background-position: top left;
    background-size: 100%;
    color: #f5f5f5;
}

div.new {
    background-image: url('../imgs/me2.jpg');
    background-position: 45% 75%;
    background-size: 175%;
    color: black;
}

main > section > div.about > i {
    position: absolute;
    cursor: pointer;
}

.leftTop {
    top: 10%;
    left: 15%;
}

.leftMiddle {
    top: 50%;
    left: 5%;
}

.leftBottom {
    top: 85%;
    left: 15%;
}

.rightTop {
    top: 10%;
    left: 80%;
}

.rightMiddle {
    top: 50%;
    left: 90%;
}

.rightBottom {
    top: 85%;
    left: 80%;
}

/*Services*/
section > ul li.list-group-item {
    background-color: #222;
    color: #ddd;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

/*section > ul li:first-child div:first-of-type {*/
main > section > ul > li > div {
    position: relative;
}

.fashion > div:first-child {
    background-image: url('../imgs/fashion3.jpg');
    background-position: 0% 15%;
    background-repeat: no-repeat;
    background-size: 140%;
}

.fashion > div:last-child {
    position: absolute;
    display: none;
    top: 38%;
    left: 8%;
    width: 85%;
}

.wedding > div:first-child {
    background-image: url('../imgs/wedding1.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wedding > div:last-child {
    position: absolute;
    display: none;
    top: 38%;
    left: 8%;
    width: 85%;
}

.family > div:first-child {
    background-image: url('../imgs/fam1.jpg');
    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-size: 130%;
}

.family > div:last-child {
    position: absolute;
    display: none;
    top: 38%;
    left: 8%;
    width: 85%;
}